body{
    margin:0;
    font-family:'Segoe UI',sans-serif;
    background:#0d1117;
    color:white;
}

header{
    text-align:center;
    padding:40px 20px;
}

header h1{
    color:#00ff99;
    font-size:4rem;
    text-shadow:0 0 20px #00ff99;
}

.subtitle{
    font-size:1.3rem;
}

.author{
    color:#ccc;
}

main{
    max-width:1200px;
    margin:auto;
    padding:20px;
}

form{
    background:#161b22;
    padding:30px;
    border-radius:20px;
    box-shadow:0 0 25px rgba(0,255,153,.4);
    margin-bottom:30px;
}

.file-upload{
    display:inline-block;
    padding:15px 25px;
    border:2px dashed #00ff99;
    border-radius:12px;
    cursor:pointer;
}

.file-upload input{
    display:none;
}

.scan-btn{
    margin-left:15px;
    padding:15px 35px;
    background:#00ff99;
    border:none;
    border-radius:10px;
    font-weight:bold;
    cursor:pointer;
    transition:.3s;
}

.scan-btn:hover{
    transform:scale(1.05);
}

.preview-card,
.result-card,
.stats{
    background:#161b22;
    padding:25px;
    border-radius:20px;
    margin-top:25px;
    box-shadow:0 0 20px rgba(0,255,153,.25);
}

.preview-img{
    max-width:400px;
    border-radius:15px;
    margin-top:15px;
}

.progress{
    width:100%;
    background:#222;
    height:25px;
    border-radius:20px;
    overflow:hidden;
    margin:15px 0;
}

.bar{
    height:100%;
    background:linear-gradient(
        90deg,
        #00ff99,
        #00ccff
    );
}

.safe{
    color:#00ff99;
    font-weight:bold;
}

.medium{
    color:orange;
    font-weight:bold;
}

.danger{
    color:red;
    font-weight:bold;
}

.stats h2,
.result-card h2,
.preview-card h2{
    color:#00ff99;
}

footer{
    text-align:center;
    padding:25px;
    margin-top:40px;
    color:#888;
}