<!DOCTYPE html>
<html>
<head>
    <title>StegoScan</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

<center>
    <h1>🛡️ StegoScan v2.0</h1>
    <p>Cyber Security Hidden Data Detector</p>
    <p>Developed by Meet Vaghela</p>
</center>

<div class="container">

    <!-- UPLOAD FORM -->
    <form action="/scan" method="POST" enctype="multipart/form-data">
        <input type="file" name="image" required>
        <br><br>
        <button type="submit">SCAN IMAGE</button>
    </form>

    <hr>

    {% if image_path %}

    <!-- IMAGE + RESULT -->
    <div style="display:flex; gap:20px; align-items:flex-start;">

        <img src="{{ image_path }}" width="300">

        <div>
            <h2>Result</h2>
            <p><b>Status:</b> {{ result.status }}</p> 
            <div class="progress">
    <div class="progress-fill"
         style="width: {{ result.percentage }}%;">
        {{ result.percentage }}%
    </div>
</div>
            <p><b>Risk:</b> {{ result.percentage }}%</p>
            <p><b>Security Score:</b> {{ result.security_score }}</p>
        </div>

    </div>

    <hr>

    <!-- THREAT -->
    <h2>Threat Assessment</h2>

    {% if result.status == "HIGH RISK" %}
    <div class="high">🔴 HIGH RISK DETECTED</div>
{% elif result.status == "MEDIUM RISK" %}
    <div class="medium">🟠 SUSPICIOUS ACTIVITY</div>
{% else %}
    <div class="low">🟢 SAFE IMAGE</div>
{% endif %}


    <hr>

    <!-- INFO -->
    <h2>Image Info</h2>
    <p>Format: {{ result.format }}</p>
    <p>Resolution: {{ result.width }} × {{ result.height }}</p>

    {% endif %}

    <hr>

    <!-- STATS -->
    <h2>System Stats</h2>

    <p>Total Scans: {{ scan_count }}</p>
    <p>Platform: Flask + Python</p>
    <p>Detection: Active</p>

</div>

</body>
</html>